<!DOCTYPE html>
<html>
<head>
  <title>Pinspiration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav>
    <a href="/pins">Pins</a>
    <%= link_to "Create new pin", new_pin_path %>
  </nav>
</header>
<%= yield %>

</body>
</html>
